* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black
}

.container {
    width: 99vw;
    height: 140vh;
   
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.brandname,
nav {
    margin-top: 30px;
}

nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: dodgerblue;
}

h1,
h2 {
    color: dodgerblue;
}
#title{
    margin-top: 100px;
    text-align: center;
}
h3{
    text-align: center;
}
#text{
    color: white;
    margin-top: 50px;
}
.offers {
    display: flex;
    gap: 1rem;  
    margin-top: 50px;
    justify-content: space-around;
}
img {
    width: 100px;

}
.holiday, .holiday2 {
    background-color: white;
    width: 400px;
    height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: 1rem;
}

.holiday2 {
    background-color: dodgerblue;
}
.holiday2 p{
    color: white;
}
.holiday2 h2{
    color: black;
}
button {
    padding: 20px;
    width: 30%;
    align-self: center;
    border-radius: 0.5rem;
    background-color: dodgerblue;
}

button:hover {
    background-color: black;
    color: dodgerblue;
    border: none;
}